<p align=center><% logo = image_tag("rails.png", :alt => "Rails_icon", :class => "feed_icon") %>
				<td><%= link_to logo, root_path %></td>
</p>

<h1>Програма для самостійного вивчення фреймворку RoR</h1>
<hr color=red>
<h2>Registration</h2>
<br>
<%= link_to "Log in", registration_path, class: 'btn btn-primary btn-large' %>
<br>
<h2>Authorization</h2>
<br>
<%= link_to "Sign in", root_path, class: 'btn btn-primary btn-large' %>
<br>
</p>
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

