<%= link_to "About", about_path %> <%= link_to "Index", root_path %> <%= link_to "Info", info_path %> <%= link_to "Contact", contact_path %>
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

